<html>
	<header>
	{% load staticfiles %}
		<title>BAE</title>
		<link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>
		<link rel="stylesheet" type="text/css" href="{% static 'stocks/style.css' %}" />
	</header>
	<body>
	    <!--Import jQuery before materialize.js-->
    {% block footer %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
    {% endblock %}

    <div class = "container">
    	<div class = "row">
    		<div class = "col s12">
    			<div class = "row">
    				<div class = "col s6 offset-s6">
    					<h1>Bae</h1>
    				</div>
    				<div class = "divider"></div>
    				  <div class="section col s8 offset-s6">
					    	{% if symbol %}
						    <ul>
							{{ symbol }}
						    </ul>
							{% else %}
						    <p>No prices are available.</p>
							{% endif %}
					  </div>

    			</div>
    		</div>
    	</div>
    </div>
	</body>
</html>
