<html>
	<header>
	{% load staticfiles %}
		<title>BAE</title>
		<link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>
		<link rel="stylesheet" type="text/css" href="{% static 'stocks/style.css' %}" />
	</header>
	<body>
	    <!--Import jQuery before materialize.js-->
    {% block footer %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
    {% endblock %}
			<div id="bgOverlay">
				<!-- bg image overlay -->
			</div>

    		<div class = "col s12 center-align" id="centerContent">
    			<div class = "row">
    				<div class = "col s12">
    					<h1>Bae</h1>
    					<div class = "divider"></div>
					    <h5><a href="#">Symbols</a></h5>
					    <p>
					    	{% if price_list %}
							    <ul>
							    {{price_list}}

							    </ul>
							{% else %}
							    <p>No prices are available.</p>
							{% endif %}
						</p>
    				</div>
    			</div>
    		</div>

    
	</body>
</html>
